<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Ville</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations">
    <td>{{location.name}}</td>
    <td>{{location.city}}</td>
  </tr>
  </tbody>
</table>

<button class="btn btn-u" (click)="openModal()"><i class="fa fa-plus"></i> Ajouter un site de formation</button>

<template #editContentModal let-submit="close" let-dismiss="dismiss">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{creation ? 'Création' : 'Modification'}} d'un site de formation</h4>
  </div>
  <form class="form-horizontal" [formGroup]="locationForm" (ngSubmit)="submit(locationForm)" autocomplete="off">
    <div class="modal-body">
      <section>
        <div class="form-group">
          <label for="name" class="col-md-3 control-label">Nom du site</label>
          <div class="col-md-9">
            <input id="name" #name name="name" type="text" formControlName="name" class="form-control" placeholder="Nom du site">
          </div>
        </div>
      </section>
      <section>
        <div class="form-group">
          <label for="city" class="col-md-3 control-label">Ville</label>
          <div class="col-md-9">
            <input id="city" #city name="city" type="text" formControlName="city" class="form-control" placeholder="Ville">
          </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="dismiss()"><i class="fa fa-remove"></i> Annuler</button>
      <button type="submit" class="btn btn-u"><i class="fa fa-check"></i> {{creation ? 'Créer' : 'Modifier'}}</button>
    </div>
  </form>
</template>
