@import "variables";

/* Vendors */
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/toastr/toastr";
@import "../node_modules/angular2-data-table/release/datatable.css";
/* Unify */
@import "assets/css/unify/unify";
@import "assets/css/unify/blocks";
@import "assets/css/unify/plugins";
@import "assets/css/unify/app";
@import "assets/css/unify/header-default";
@import "assets/css/unify/footer-v3";
@import "assets/css/unify/sky-forms";
/* App */
@import "assets/css/table.scss";

body.portalbg {
  background-image: url('assets/images/portal.jpg');
}

@media (max-width: 1600px) {
  body.portalbg {
    background-size: contain;
  }
}

.btn:focus {
  color: #ffffff;
}
