<div class="header">
  <div class="container">
    <a class="logo" [routerLink]="['/home']">
      <img src="assets/images/sopra-steria-logo.png" alt="Logo" height="75"/>
    </a>
    <tr-topbar-component></tr-topbar-component>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
  </div>
  <tr-navbar-component></tr-navbar-component>
</div>
