<footer class="footer-v3">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>
            Training Rating version 0.0.1-SNAPSHOT
          </p>
        </div>
        <div class="col-md-5">
          <p>
            Build with ♥ by <a href="mailto:jntakpe@gmail.com">Jocelyn N'TAKPÉ</a>
          </p>
        </div>
        <div class="col-md-2">
          <ul class="social-icons pull-right">
            <li>
              <a href="https://github.com/jntakpe/" data-original-title="Github" class="social_github rounded-x"></a>
            </li>
            <li>
              <a href="https://fr.linkedin.com/in/jocelyn-n-takpe-618669b4" data-original-title="Linkedin"
                 class="social_linkedin rounded-x"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
