.site-sidenav {
  background: $sidenav-bg;
}

.site-sidenav md-content {
  background: transparent;
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

.site-sidenav > * {
  min-width: 218px;
}

.nav-header {
  background-color: $sidenav-bg;
  background: linear-gradient($sidenav-primary, $sidenav-bg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $sidenav-primary), color-stop(1, $sidenav-bg));
  background: -webkit-linear-gradient(top, $sidenav-primary 0%, $sidenav-bg 100%);
  background: -moz-linear-gradient(top, $sidenav-primary 0%, $sidenav-bg 100%);
  background: linear-gradient(top, $sidenav-primary 0%, $sidenav-bg 100%);
  border-bottom: 1px solid $sidenav-border;
  flex-shrink: 0;
  z-index: 2;

  .app-logo {
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;

    img {
      height: 150px;
      width: auto;
      display: block;
      transform-origin: 50% 0;
      transform: scale(1.2);
    }

    .logo-title {
      color: white;
      text-align: center;
      font-weight: 400;
      font-size: 26px;
    }
  }
}

.sidenav-menu {
  list-style: none;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0;
  }

  > li {
    border-bottom: 1px solid $sidenav-border;
  }

  > li:nth-child(1) {
    border-top: none;
  }

  .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
  }

  .md-button:hover, md-button:focus {
    background: $sidenav-border !important;
  }

  .md-button.active {
    background: $sidenav-border;
  }

  .md-button md-icon {
    color: white;
  }

  button.md-button::-moz-focus-inner {
    padding: 0;
  }

  md-select {
    margin: 0;
    width: 100%;

    .md-select-icon {
      margin-right: 28px;
    }

    md-select-label {
      justify-content: flex-end;
      padding-top: 10px;

      span {
        margin-right: auto;
        padding-left: 13px;
      }
    }
  }

  .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
  }
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}

.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
