<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="menu-left" md-is-locked-open="$mdMedia('gt-sm')"
            tabindex="-1" flex>

    <header class="nav-header">
        <a ui-sref="main.home" class="app-logo">
            <img src="assets/images/angular-logo.svg" alt="Application logo"/>
            <h1 class="logo-title">Training rating</h1>
        </a>
    </header>
    <md-content role="navigation" flex>
        <ul class="sidenav-menu">
            <li ng-repeat="section in sidenav.menuContent" class="parent-list-item"
                ng-class="{'parentActive' : sidenav.isSectionActive(section)}">
                <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name }}">
                    {{section.name}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>

                <ul ng-if="section.children" class="menu-nested-list">
                    <li ng-repeat="child in section.children" ng-class="{'childActive' : sidenav.isSectionActive(child)}">
                        <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
                        <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                    </li>
                </ul>
            </li>
        </ul>
    </md-content>
</md-sidenav>
