@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

// bower:scss
// endbower

$sidenav-primary: #185694;
$sidenav-bg: #106CC8;
$sidenav-border: #267ED5;
$link-hover: #4054B2;
$grey-light-bg: #F6F6F6;

// injector
// endinjector
