<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/home']"><i class="fa fa-home"></i> Accueil</a>
      </li>
      <li class="dropdown" [routerLinkActive]="['active']">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-lock"></i> Administration
        </a>
        <ul class="dropdown-menu pull-right">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/admin/sessions']"><i class="fa fa-group"></i> Sessions de formations</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/admin/trainings']"><i class="fa fa-mortar-board"></i> Formations</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/admin/trainers']"><i class="fa fa-user"></i> Formateurs</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/admin/locations']"><i class="fa fa-map-marker"></i> Sites de formations</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
