<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
  <div class="container">
    <ul class="nav navbar-nav">
      <!-- Home -->

      <!-- End Home -->

      <!-- Pages -->

      <!-- End Pages -->

      <!-- Blog -->

      <!-- End Blog -->

      <!-- Portfolio -->

      <!-- End Portfolio -->

      <!-- Features -->

      <!-- End Features -->

      <!-- Shortcodes -->
      <li class="dropdown mega-menu-fullwidth active">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          Shortcodes
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="mega-menu-content disable-icons">
              <div class="container">
                <div class="row equal-height">
                  <div class="col-md-3 equal-height-in">
                    <ul class="list-unstyled equal-height-list">
                      <li><h3>Typography &amp; Components</h3></li>

                      <!-- Typography -->
                      <li><a href="shortcode_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> General Typography</a></li>
                      <li><a href="shortcode_typo_headings.html"><i class="fa fa-magic"></i> Headings Options</a></li>
                      <li><a href="shortcode_typo_dividers.html"><i class="fa fa-ellipsis-h"></i> Dividers</a></li>
                      <li><a href="shortcode_typo_blockquote.html"><i class="fa fa-quote-left"></i> Blockquote Blocks</a></li>
                      <li><a href="shortcode_typo_boxshadows.html"><i class="fa fa-asterisk"></i> Box Shadows</a></li>
                      <li><a href="shortcode_typo_testimonials.html"><i class="fa fa-comments"></i> Testimonials</a></li>
                      <li><a href="shortcode_typo_tagline_boxes.html"><i class="fa fa-tasks"></i> Tagline Boxes</a></li>
                      <li><a href="shortcode_typo_grid.html"><i class="fa fa-align-justify"></i> Grid Layouts</a></li>
                      <!-- End Typography -->

                      <!-- Components -->
                      <li><a href="shortcode_compo_messages.html"><i class="fa fa-comment"></i> Alerts &amp; Messages</a></li>
                      <li><a href="shortcode_compo_labels.html"><i class="fa fa-tags"></i> Labels &amp; Badges</a></li>
                      <li><a href="shortcode_compo_media.html"><i class="fa fa-volume-down"></i> Audio/Videos &amp; Images</a></li>
                      <li><a href="shortcode_compo_pagination.html"><i class="fa fa-arrows-h"></i> Paginations</a></li>
                      <!-- End Components -->
                    </ul>
                  </div>
                  <div class="col-md-3 equal-height-in">
                    <ul class="list-unstyled equal-height-list">
                      <li><h3>Buttons &amp; Icons</h3></li>

                      <!-- Buttons -->
                      <li class="active"><a href="shortcode_btn_general.html"><i class="fa fa-flask"></i> General Buttons</a></li>
                      <li><a href="shortcode_btn_brands.html"><i class="fa fa-html5"></i> Brand &amp; Social Buttons</a></li>
                      <li><a href="shortcode_btn_effects.html"><i class="fa fa-bolt"></i> Loading &amp; Hover Effects</a></li>
                      <!-- End Buttons -->

                      <!-- Icons -->
                      <li><a href="shortcode_icon_general.html"><i class="fa fa-chevron-circle-right"></i> General Icons</a></li>
                      <li><a href="shortcode_icon_fa.html"><i class="fa fa-chevron-circle-right"></i> Font Awesome Icons</a></li>
                      <li><a href="shortcode_icon_line.html"><i class="fa fa-chevron-circle-right"></i> Line Icons</a></li>
                      <li><a href="shortcode_icon_glyph.html"><i class="fa fa-chevron-circle-right"></i> Glyphicons Icons (Bootstrap)</a>
                      </li>
                      <!-- End Icons -->
                    </ul>
                  </div>
                  <div class="col-md-3 equal-height-in">
                    <ul class="list-unstyled equal-height-list">
                      <li><h3>Common elements</h3></li>

                      <!-- Common Elements -->
                      <li><a href="shortcode_thumbnails.html"><i class="fa fa-image"></i> Thumbnails</a></li>
                      <li><a href="shortcode_accordion_and_tabs.html"><i class="fa fa-list-ol"></i> Accordion &amp; Tabs</a></li>
                      <li><a href="shortcode_timeline1.html"><i class="fa fa-dot-circle-o"></i> Timeline Option 1</a></li>
                      <li><a href="shortcode_timeline2.html"><i class="fa fa-dot-circle-o"></i> Timeline Option 2</a></li>
                      <li><a href="shortcode_table_general.html"><i class="fa fa-table"></i> Tables</a></li>
                      <li><a href="shortcode_compo_progress_bars.html"><i class="fa fa-align-left"></i> Progress Bars</a></li>
                      <li><a href="shortcode_compo_panels.html"><i class="fa fa-columns"></i> Panels</a></li>
                      <li><a href="shortcode_carousels.html"><i class="fa fa-sliders"></i> Carousel Examples</a></li>
                      <li><a href="shortcode_maps_google.html"><i class="fa fa-map-marker"></i> Google Maps</a></li>
                      <li><a href="shortcode_maps_vector.html"><i class="fa fa-align-center"></i> Vector Maps</a></li>
                      <!-- End Common Elements -->
                    </ul>
                  </div>
                  <div class="col-md-3 equal-height-in">
                    <ul class="list-unstyled equal-height-list">
                      <li><h3>Forms &amp; Infographics</h3></li>

                      <!-- Forms -->
                      <li><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                      <li><a href="shortcode_form_general1.html"><i class="fa fa-bars"></i> General Unify Forms</a></li>
                      <li><a href="shortcode_form_advanced.html"><i class="fa fa-bars"></i> Advanced Forms</a></li>
                      <li><a href="shortcode_form_layouts.html"><i class="fa fa-bars"></i> Form Layouts</a></li>
                      <li><a href="shortcode_form_layouts_advanced.html"><i class="fa fa-bars"></i> Advanced Layout Forms</a></li>
                      <li><a href="shortcode_form_states.html"><i class="fa fa-bars"></i> Form States</a></li>
                      <li><a href="shortcode_form_sliders.html"><i class="fa fa-bars"></i> Form Sliders</a></li>
                      <li><a href="shortcode_form_modals.html"><i class="fa fa-bars"></i> Modals</a></li>
                      <!-- End Forms -->

                      <!-- Infographics -->
                      <li><a href="shortcode_compo_charts.html"><i class="fa fa-pie-chart"></i> Charts &amp; Countdowns</a></li>
                      <!-- End Infographics -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <!-- End Shortcodes -->

      <!-- Demo Pages -->
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          Demos
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href="Themantic-Designs/Architecture/index.html">Architecture</a></li>
          <li><a href="Themantic-Designs/Travel/index.html">Travel</a></li>
          <li><a href="Themantic-Designs/App/index.html">Mobile App</a></li>
          <li><a href="Themantic-Designs/Shipping/index.html">Shipping</a></li>
          <li><a href="Themantic-Designs/Agency/index.html">Agency</a></li>
          <li><a href="Themantic-Designs/Spa/index.html">Spa</a></li>
          <li><a href="Themantic-Designs/Lawyer/index.html">Lawyer</a></li>
          <li><a href="Hero-Themes/fashion.html">Hero Fashion</a></li>
          <li><a href="Hero-Themes/gym.html">Hero Gym</a></li>
          <li><a href="Hero-Themes/photography.html">Hero Photography</a></li>
          <li><a href="Hero-Themes/restaurant-bar.html">Hero Restaurant</a></li>
          <li><a href="Hero-Themes/web-product-dark.html">Hero Web App Dark</a></li>
          <li><a href="Hero-Themes/web-product-light.html">Hero Web App Light</a></li>
        </ul>
      </li>
      <!-- End Demo Pages -->

      <!-- Search Block -->
      <li>
        <i class="search fa fa-search search-btn"></i>
        <div class="search-open">
          <div class="input-group animated fadeInDown">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn-u" type="button">Go</button>
            </span>
          </div>
        </div>
      </li>
      <!-- End Search Block -->
    </ul>
  </div><!--/end container-->
</div><!--/navbar-collapse-->
