.datatable.bootstrap {
  background-color: $table-bg;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
  }
  .datatable-header,
  .datatable-body,
  .datatable-footer {
    .datatable-header-cell,
    .datatable-body-cell,
    .datatable-footer-cell {
      padding: $table-cell-padding;
      line-height: $line-height-base;
      vertical-align: top;
      border-top: 1px solid $table-border-color;
    }
  }
  .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    font-weight: bold;
    margin-bottom: 10px;
    .sort-btn {
      margin-top: -5px;
      margin-left: 5px;
      &[class*="icon-"] {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &.icon-up:before {
        content: "\f077";
      }
      &.icon-down:before {
        content: "\f078";
      }
    }
  }
  caption + .datatable-header,
  colgroup + .datatable-header,
  .datatable-header {
    .datatable-header-cell,
    .datatable-body-cell,
    .datatable-footer-cell {
      border-top: 0;
    }
  }
  .datatable-body .datatable-body-row:first-child .datatable-body-cell {
    border-top: 2px solid $table-border-color;
  }
  .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 5px 8px 5px 8px;
  }

  .datatable-header-cell,
  .datatable-body-cell {
    &[class*="col-"] {
      position: static;
      float: none;
      display: table-cell;
    }
  }
  &.table-condensed {
    .datatable-header,
    .datatable-body,
    .datatable-footer {
      .datatable-header-cell,
      .datatable-body-cell,
      .datatable-footer-cell {
        padding: $table-condensed-cell-padding;
      }
    }
  }
  &.table-bordered {
    border: 1px solid $table-border-color;
    .datatable-header,
    .datatable-body,
    .datatable-footer {
      .datatable-header-cell,
      .datatable-body-cell,
      .datatable-footer-cell {
        border: 1px solid $table-border-color;
      }
    }
    .datatable-header {
      .datatable-header-cell {
        border-bottom-width: 2px;
      }
    }
  }
  &.table-striped {
    .datatable-body .datatable-body-row:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
  }
  &.table-hover {
    .datatable-body .datatable-body-row:hover {
      background-color: $table-bg-hover;
    }
  }
  &.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: ($line-height-computed * 0.75);
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid $table-border-color;
      .datatable {
        margin-bottom: 0;
        .datatable-header,
        .datatable-body,
        .datatable-footer {
          .datatable-header-cell,
          .datatable-body-cell,
          .datatable-footer-cell {
            white-space: nowrap;
          }
        }
      }
      .table-bordered {
        border: 0;
        .datatable-header,
        .datatable-body,
        .datatable-footer {
          .datatable-header-cell:first-child,
          .datatable-body-cell:first-child
          .datatable-footer-cell:first-child {
            border-left: 0;
          }
          .datatable-header-cell:last-child,
          .datatable-body-cell:last-child
          .datatable-footer-cell:last-child {
            border-right: 0;
          }
        }
        .datatable-body,
        .datatable-footer {
          .datatable-body-row:last-child,
          .datatable-footer-row:last-child {
            .datatable-body-cell
            .datatable-footer-cell {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .datatable-footer {
    padding-top: 10px;
    .datatable-pager {
      ul.pager li {
        a {
          min-height: 20px;
          color: #777;
          padding: 5px 15px;
        }
        &:not(.disabled) a:hover {
          color: #fff;
          background: #5fb611;
          border-color: #5fb611;
        }
        &.active {
          a, span, a:hover, span:hover, a:focus, span:focus {
            color: #fff;
            background: $primary-color;
            border-color: $primary-color;
          }
        }
        &.disabled {
          a, span, a:hover, span:hover, a:focus, span:focus {
            background: #ddd;
            border-color: #ddd;
          }
        }
        .icon-left,
        .icon-skip,
        .icon-right,
        .icon-prev {
          padding: 8px 12px 9px 12px;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-prev:before {
          content: "\f049";
        }
        .icon-left:before {
          content: "\f04a";
        }
        .icon-right:before {
          content: "\f04e";
        }
        .icon-skip:before {
          content: "\f050";
        }
      }
    }
  }

}
