spring:
  jpa:
    show-sql: true
    properties:
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: true
      hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
security:
  ignored: /api/**